<ul class="event_list">

  <% @events.each do |event| %>

  <div class="event">
      <li>

	<div class = "event_header">

	  <div class="event_name">
	    <%= link_to event.title, event_path(event.id) %>
	  </div>
<!--
	  <div class="event_date">
	    <%= event.event_date.nil? ? "" : 
		event.event_date.strftime("%a, %b. #{event.event_date.day.ordinalize}.") %>
	  </div>
-->



	</div>

	<div class="event_organizer">
	  <%= "Organized by #{User.find(event.admin_id).username}" %>
	</div>




	<% if event.description.blank? %>
	<% else %>
	<div class="event_description">
	  <%= event.description %>
	</div>
	<% end %>


	<br />

	<div class="event_place_thumbnails">
	  <% unless event.places.empty? %>
	  <% count = 0 %>
	     <% event.places.each do |place| %>
	         <% unless place.image_links.nil? %>
	           <% place.image_links.each do |image| %>

		      <% break if count > 6 %>
		      <div class="thumbnail">
			<%= link_to (image_tag image, :width => "75px", :height => "75px"), event_place_path(:event_id => event.id, :id => place.id) %>
		      </div>
		      <% count += 1 %>
		      <% break %>
	              <% end %>
		   <% end %>
	     <% end %>
	  <% end %>

	  <% if event.places.empty? %>
	  <div class="empty_thumbnails">
	      Find some places!
	      <p>
	      <span style="font-size:16px;">
		Search for restaurants or bars, and add them to your Get Together.
	      </span>
	  </div>
	  <% end %>
	</div>

	
	<%= render :partial => 'shared/date_calendar', :layout => false,
	:locals => {:event => event } %>
	  


	<div class="event_participant_count">
	  <% if event.participants.count == 1 %>
	  Invite some friends!
	  <p> 
	    <span style="font-size:16px;">
	      Forward your Get Together email so your friends can vote.
	    </span>

	    <% else %>
	    <%= pluralize(event.participants.count.to_s, "people invited") %>
	    <% end %>
	</div>


	<div class="event_votes_remaining">
	  <%= pluralize(event.participants.find_by_user_id(current_user).votes_remaining, "Vote") + " Left!" %>
	</div>

      <li>
    
    </div>
  
  <% end %>

</ul>
