
<div id="event_wrap">

  <div class="header_wrapper">
    <h2 class="header_text">Your Get Togethers</h2>
  </div>

  <div class="left_flap"></div>
  <div class="right_flap"></div>

  <ul class="event_list">

    <% @events.each do |event| %>

    <div class="event">
      <li>

	<div class="event_header">
	  
	  <div class="event_date">
	    <%= render :partial => 'shared/date_calendar', :layout => false,
	    :locals => {:event => event } %>
	  </div>



	  <div class="event_info">

	    <div class="event_name">
	      <%= link_to event.title, event_path(event.id) %>
	    </div>
	    
	    <div class="event_organizer">
	      <%= "Organized by #{User.find(event.admin_id).username}" %>
	    </div>


	    <% if event.description.blank? %>
	    <% else %>
	    <div class="event_description">
	      <%= event.description %>
	    </div>
	    <% end %>


	    <% if event.places.empty? %>
	    <div class="empty_thumbnails">
	      Lookup places to add
	    </div>
	    <% end %>

	    <% if event.participants.count == 1 %>
	    <div class="empty_thumbnails">
	      Invite some friends
	    </div>
	    <% end %>


	  </div>

	  <hr>

 	  <div class="event_votes_remaining">

	    <div class="event_votes_header">
	      Votes Left
	    </div>
	    <div class="event_votes_count">
	      <%= event.participants.find_by_user_id(current_user).votes_remaining %>
	    </div>

	  </div>


 	  <div class="event_participants">

	    <div class="event_participants_header">
	      Invited
	    </div>

	    <div class="event_participants_count">
	      <% if event.participants.count == 1 %>
	      0
	      <% else %>
	      <%= event.participants.count %>
	      <% end %>
	    </div>

	  </div>
	  

	  <div class="event_places">

	    <div class="event_places_header">
	      Venues
	    </div>

	    <div class="event_places_count">
	      <% if event.places.empty? %>
	      0
	      <% else %>
	      <%= event.places.count %>
	      <% end %>
	    </div>

	  </div>



	</div>




	<div class="event_place_thumbnails">
	  <% unless event.places.empty? %>
	  <% count = 0 %>
	  <% event.places.each do |place| %>
	  <% unless place.image_links.nil? %>
	  <% place.image_links.each do |image| %>

	  <% break if count > 2 %>
	  <div class="thumbnail">
	    <%= link_to (image_tag image, :width => "75px", :height => "75px"), event_path(event.id) %>
	  </div>
	  <% count += 1 %>
	  <% break %>
	  <% end %>
	  <% end %>
	  <% end %>
	  <% end %>

	</div>




	<hr>


      </li>
      
    </div>
    
    <% end %>

  </ul>

</div>
