<!-- places partial -->
<% if user_signed_in? %>
<% @place = Place.new %>

<%= form_for(@place, :url => event_places_path(1), :class => "manual_add_place_for", :method => "POST") do |p| %>

<%= render 'shared/error_messages', :object => p.object %>

<p id="venue_container">
  <%= p.label("Enter Venue") %>
  <%= p.text_field(:name, :size => 0) %>
</p>

<p id="description_container">
  <%= p.label("Description") %>
  <%= p.text_field(:description, :size => 0) %>
</p>

<p id="event_container">
  <%= p.label("Add to Event") %>
  <%= select_tag("event", options_from_collection_for_select(current_user_events, :id, :title), 
      :class=>"manual_place_add_btn") %>
</p>

<p id="manual_submit_container">
  <%= p.submit("Add", :class => "manual_place_submit_btn") %>
</p>

<p id="manual_back_container">
  <span id="back_no_find">
    <%= link_to "Back", "#" %>
  </span>
</p>


<% end %>

<% end %>
