<!-- nav bar partial -->
<nav class = "nav_groups">

  <ul class = "groups">

    <li><%= link_to "Create", user_signed_in? ? new_event_path : new_user_session_path %></li>
    
    <li> <%= link_to "Get Togethers", user_signed_in? ? user_path(current_user.id) : new_user_session_path %> </li>


    <% if user_signed_in? %>

    <ul class = "event_title">

      <% @events.each do |event| %>
      
      <li><%= link_to event.title, event_path(event.id) %></li>
      
      <% end %>
      
    </ul>

    <li><%= link_to "How It Works", howitworks_path %></li>
    
    <li><%= link_to "About", about_path %></li>

    <li><%= link_to "Contact", contact_path %></li>

    <% end %>


  </ul>

</nav>
