<!-- events partial -->
<div id="create_event_wrap">

    <div class="header_wrapper">
      <h2 class="header_text">Create a <%= get_project_name %></h2>
    </div>

    <div class="left_flap"></div>
    <div class="right_flap"></div>


  <div id="create_event">

    <%= form_for(@event) do |e| %>

    <%= render 'shared/error_messages', :object => e.object %>


    <div id="event_inputs">
      <div id="create_event_place" class="field">
	<%= hidden_field_tag("place[cid]", params[:place]) %>
      </div>

      <div id="create_event_title" class="field">
	<%= label_tag(:title, "Name your Get Together") %> <br />
	<%= e.text_field :title %>
      </div>
      
      <div id="create_event_description" class="field">
	<%= label_tag(:description, "Leave a note") %> <br />
	<%= e.text_field :description %> <br />
      </div>

    </div>


    <div id="event_dates">


      <div id="create_event_date" class="field">
	<%= label_tag(:event_date, "Event date") %>

	<div id="datepicker">
	  <%= e.text_field :event_date %>
	</div>

      </div>
      


      <div id="create_event_time" class="field">
	<%= label_tag(:event_time, "Time") %> <br />
	<%= select_tag "event_time", options_for_select(@times, " 7:00 PM") %>
      </div>
      
    </div>

    <div id="create_event_submit" class="actions">

      <div id="create_event_submit_button">
	<%= e.submit "Create" %>
      </div>
    </div>


  </div>
</div> 
<!--
   <div class ="field">
     <%= e.label :starting_votes, "Initial Votes" %> <br />
     <%= e.text_field :starting_votes %>
   </div>
   -->

<br />




<% end %>
