<!--header partial-->

<div class="_header_title">
  <%= @event.title %>
</div>

<div class="_header_organizer">
  <%= "Organized by #{User.find(@event.admin_id).username}" %>
</div>

<div class="_header_stats">
  <!-- does anyone care?
       <%= pluralize(@event.places.count, "place") %>
       -->
</div>

<div class="_header_stats">
  <!-- does anyone care?
       <%= pluralize(@event.participants.count, "participant") %>
       -->
</div>

<div class="_header_description">
  <%= @event.description %>
</div>

<div class="_header_leader">
  <% if @event.places.count > 0 && ! Vote.where(:participant_id => @event.participants).empty? %>
  <%= "Leading Candidate: "%>

  <% lead_place = Place.find( 
     Vote.where(:participant_id => @event.participants).group("place_id").sum("vote").sort_by{|k,v| v}.last[0]) %>

  <%= link_to lead_place.name, event_place_path(params[:id], lead_place.id) %>
  <% end %>
</div>

<div class="_header_timeout"></div>

<hr>
<!--empty notifications -->
<% if @event.places.empty? %>

<div class="empty_thumbnails" style="margin: 0px 0px 10px 15px;">
Find some places!
<br />
Search for restaurants or bars, and add them to your Get Together.
    
</div>
<% end %>


<% if @event.participants.count == 1 %>

<div class="empty_thumbnails" style="margin: 0px 0px 10px 15px;">
Invite some friends!
<br />
Forward your Get Together email so your friends can vote.


</div>
<% end %>
