<!--header partial-->

  <div class="event_date_main">
    <%= render :partial => 'shared/date_calendar', :layout => false, 
    :locals => {:event => @event } %>
  </div>

  <div class="_header_title">
    <%= @event.title %>
  </div>

  <div class="_header_organizer">
    <%= "Organized by #{User.find(@event.admin_id).username}" %>
  </div>

  <div class="_header_stats">
    <!-- does anyone care?
    <%= pluralize(@event.places.count, "place") %>
    -->
  </div>

  <div class="_header_stats">
    <!-- does anyone care?
    <%= pluralize(@event.participants.count, "participant") %>
    -->
  </div>

  <div class="_header_description">
    <%= @event.description %>
  </div>

  <div class="_header_leader">
  <% if @event.places.count > 0 && ! Vote.where(:participant_id => @event.participants).empty? %>
  <%= "Leading Candidate: "%>

  <% lead_place = Place.find( 
     Vote.where(:participant_id => @event.participants).group("place_id").sum("vote").sort_by{|k,v| v}.last[0]) %>

  <%= link_to lead_place.name, event_place_path(params[:id], lead_place.id) %>
  <% end %>
  </div>

  <div class="_header_timeout">
  </div>
