<% if signed_in? %>
<%= render 'participants' %>
<% end %>

<!-- event summary -->

<h2><%= @event.title %></h2>
<h3><%= @event.description %></h3>

<!-- add place form -->
<% if user_signed_in? %>
<%= render 'shared/places' %>

<% end %>



<!-- event detail - places -->
<br />
<ul class="event" data-event=<%= @event.id %>>

  <% @places.each do |place| %>


  <li>

    <div class="place_container span-11">

      <div class="place_detail span-10">
	<%= link_to place.name, 
	    event_place_path(params[:id], place.id) %><br />

	<p><%= place.description %>
      </div>

      <div class="vote span-1 last">
	<%= render :partial => 'shared/vote', :locals => { :place => place } %>
      </div>

      <br />

    </div>

  </li>

  
  <% end %>

</ul>







