<h2>Events#show (places)</h2>

<!-- event summary -->

<p><%= @event.title %>
<p><%= @event.description %>

<!-- add place form -->
<% if user_signed_in? %>

<%= render 'shared/places' %>

<% end %>

<!-- event detail - places -->

<ul class = "event_main_list">

  <% @places.each do |place| %>

  <div class = "places">
    <li>

      <%= link_to place.name, 
	  event_place_path(params[:id], place.id) %><br />

      Description: <br />
      <p><%= place.description %>

    </li>
  </div>
  
  <% end %>





<ul>

