<!--in div id main-->

<!-- event summary -->
<div class="_header">

  <%= render :partial => 'header', :layout => false,
  :locals => {:@event => @event} %>

</div>

<!--events set to public visibiility for now.-->

<%= render :partial => 'votebar', :layout => false,
:locals => {:@event => @event, :@participant => @participant} %>


<!-- participants -->
<% if signed_in? %>
<%= render 'participants' %>
<% end %>

<!-- event detail - places -->
<ul class="event" data-event=<%= @event.id %>>
  
  <% @places.each do |place| %>

  <li>
    
    <div class="place_container">

      <!--voting button -->
      <div class="vote">
	<%= render :partial => 'shared/vote', 
	:locals => { :place => place, :participant => @participant } %>
      </div>      


      <div class="place_header">
	
	<div class="place_total_votes">

          <div class="place_total_votes_count">

            <% if place.votes.empty? %>
            <%= 0 %>
            <% else %>
            <%= place.votes.where(:participant_id =>
            @event.participants).inject(0) {|sum, hash| sum + hash[:vote].to_i} %>
            <% end %>
	    
          </div>

	  <div class="place_total_votes_lbl">
            Total Votes
          </div>
	  
	</div> <!-- end place_total_votes-->
	

        <div class="place_info_name">
          <%= link_to place.name,
              event_place_path(params[:id], place.id) %>          
        </div>
	<!-- remove link -->
	<div class="place_info_remove">
	  <% if user_signed_in? %>
	  <% unless @event.schedules.where(:place_id => place.id, :admin_id => current_user.id).empty? %>
	  <%= link_to "remove from this " + get_project_name, 
	      Schedule.where(:event_id => @event.id).find_by_place_id(place.id),
	  :method => :delete, :confirm => "Are you sure you want to remove #{place.name} from #{@event.title}?" %>
	  <% end %>
	  <% end %>

	</div>

      </div>

      <div class="place_detail">

	<div class="place_vote_image">
	  <% count_image = 0 %>
	  <% place.image_links.each do |image| %>
	  <% break if count_image > 2 %>
	  <%= link_to (image_tag image, :width => "75px", :height => "75px"), event_place_path(:event_id => params[:id], :id => place.id) %>
	  <!--break #set to one image for now -->
	  <% count_image += 1 %>
	  <% end %>
	</div>
	
	<div class="place_top_voters">

	  <% count = 0 %>
	  <% vote_list = Array.new %>
	  <% top_votes = 
	     place.votes.where(:participant_id => @event.participants).order("ABS(vote) DESC") %>

	  <% top_votes.each do |voter| %>	     
	  <% break if count > 2 %>

	  <% if user_signed_in? %>
	  <% unless (voter.vote == 0  || voter.participant.user.username == current_user.username) %>
	  <% vote_list.push("#{voter.participant.user.username} (#{voter.vote})") %>
	  <% end %>
	  <% end %>

	  <% count += 1 %>

	  <% end %>

	  <% unless vote_list.empty? %>
	  <span class="top_voters">Top Voters: </span>
	  <%= vote_list.to_sentence %>
	  <% end %>
	</div>

	<div class="place_info_price">
	  <%= place.price.nil? ? " " : "Price: #{place.price} "%>
	</div>



	
	<!-- external links -->

	  <div class="place_info_review_links">

	    <% place.external_links.blank? ? "" : %>
	    <br />
	    <span class="place_info_review_header">Reviews</span>
	    <br />
	    <% place.external_links.each do |review, link| %>
	    <%= link_to review, link, :target => "_blank" %>
 	    <% end %>
	  </div>

	  <div class="place_description">
	    <%= place.description %>	  
	  </div>
	  
	</div>
	


    </div>
  </li>
  
  <% end %>
  
</ul>


</div>








