<h2>Events#show (places)</h2>

<% if signed_in? %>
<%= render 'participants' %>
<% end %>

<!-- event summary -->

<p><%= @event.title %>
<p><%= @event.description %>

<!-- add place form -->
<% if user_signed_in? %>
<%= render 'shared/places' %>

<% end %>



<!-- event detail - places -->

<ul class = "event_main_list">

  <% @places.each do |place| %>

  <div class = "place">
    <li>

      <%= link_to place.name, 
	  event_place_path(params[:id], place.id) %><br />

      Description: <br />
      <p><%= place.description %>

	<%= render 'shared/vote' %>

    </li>
  </div>
  
  <% end %>

</ul>







