<!--in div id main-->

<!-- event summary -->
<div class="_header">

  <%= render :partial => 'header', :layout => false,
  :locals => {:@event => @event} %>

</div>

<!--events set to public visibiility for now.-->

<%= render :partial => 'votebar', :layout => false,
:locals => {:@event => @event, :@participant => @participant} %>


<!-- participants -->
<% if signed_in? %>
<%= render 'participants' %>
<% end %>

<!-- event detail - places -->
<ul class="event" data-event=<%= @event.id %>>
      
  <% @places.each do |place| %>

  <li>
    
    <div class="place_container span-15">
      
      <div class="place_header span-15">
	
	<div class="place_title span-11">
	  
	  <h3><%= link_to place.name, 
		  event_place_path(params[:id], place.id) %>
	  </h3>
	</div>
	
	
	<div class="place_total_votes span-4 last">
	  
	  <div class="place_total_votes_lbl span-3">
	    Total Votes:
	  </div>
	  
	  <div class="place_total_votes_count span-1 last">
	    <h3>
	      <% if place.votes.empty? %>
	      <%= 0 %>
	      <% else %>
	      <%= place.votes.where(:participant_id => 
	      @event.participants).inject(0) {|sum, hash| sum + hash[:vote].to_i} %>
	      <% end %>
	    </h3>
	  </div>
	  
	</div>
      </div>
      
      <hr>

      <!-- le voting bouton -->
      <div class="place_detail span-14">
	<p><%= place.description %>	  
      </div>
      
      <div class="vote span-1 last">
	
	<%= render :partial => 'shared/vote', 
	:locals => { :place => place, :participant => @participant } %>
	
      </div>
      
      
    </div>
    
  </li>
  
  <% end %>
  
</ul>


</div>








