<!--render singular place -->

<!-- images -->
<div class="place_info_images">
  <% place.image_links.each do |image| %>
  <%= image_tag image %>
  <!--break #set to one image header for now -->
  <% break %>
  <% end %>
</div>

<!-- title is not included for link purposes -->
<div class="place_info_name">
  <% if params[:controller] == "places" && params[:action] == "show" %>
  <%= place.name %>
  <% else %>
  <%= link_to place.name, event_place_path(:event_id => '_', :id => place.id) %>
  <% end %>
</div>

<div class="place_info_neighborhood">
  <%= place.neighborhood %>
</div>

<div class="place_info_address">
  <%= place.address %>
</div>


<div class="place_info_price">
  <%= place.price.nil? ? "" : "Price: #{place.price} "%>
</div>

<!-- rating -->
<div class="place_info_rating">

  <% unless place.rating.nil? %>
  <% count = 0 %>
  <% for count in 0...place.rating.to_f.round %>
  <div class="rsw-starred"></div>
  <% end %>
  
  <% for count in count...4 %>
  <div class="rsw-unstarred"></div>
  <% end %>
  <% end %>

</div>


<!--#end each place-->







