<header>

<!-- banner -->
<div id="banner" class="span-18">
<!--
  <h1><%= link_to get_project_name, root_path %></h1>
-->
<%= link_to (image_tag "header1.png"), home_path %>
</div>

<div id="account" class="span-6 last">
  <nav class="account">
    <% if user_signed_in? %>
    Hi, <%= current_user.username %>
    <% end %>
    <ul>
      <!--
      <li><%= link_to "Home", home_path%></li>
      -->
      <% unless user_signed_in? %>
      <br />
      <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>

      <% if user_signed_in? %>

      <li><%= link_to "Edit Account", edit_user_registration_path %></li>
      <li><%= link_to "Logout", destroy_user_session_path %></li>
      <% end %>
    </ul>

  </nav>
</div>





</header>
