<header>


  <div id="header_wrap">

    <div id="header_content">

      <!--account login/logout-->
      <div id="account">

	<nav class="nav_account">

	  <% if user_signed_in? %>
	  Hi, <%= current_user.username %>
	  <% end %>

	  <ul>

	    <% unless user_signed_in? %>
	    <br />
	    <li><%= link_to "Login", new_user_session_path %></li>
	    <% end %>

	    <% if user_signed_in? %>

	    <li><%= link_to "Edit Account", edit_user_registration_path %></li>
	    <li><%= link_to "Logout", destroy_user_session_path %></li>
	    <% end %>
	  </ul>

	</nav>
      </div>


      <!-- banner -->
      <div id="banner">
        <!--
	   <%= link_to (image_tag "header1.png"), home_path %>
	   -->
	<%= link_to "Get Together", home_path %>
      </div>


    </div>
  </div>

  <!-- search bar -->
  <div id="search_wrap">


      <%= render 'shared/search_header' %>


  </div>

  <!-- manual place bar -->
  <!--rmemeber require sign in for click link-->

  <div id="manual_wrap">


    <% if flash[:add_place_error] %>

      <div id="manual_place_add_error">
	<%= content_tag(:div, flash[:add_place_error], :class => "flash error") %>
      </div>

    <% end %>
        
    <%= render 'shared/add_places' %>



  </div>
</header>
